<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sinatra App</title>
</head>
<body>
  <h1>Welcome to the World of Sinatra !!</h1>
  <h3>The secret code is <%= rand(12345)%></h3>
</body>
</html>
